*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, serif;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(224,238,198)
}

h1{
    font-size: 36px;
    text-align: center;
    margin-bottom: 10px;
    color: rgb(36,62,54);
}

#home-logout-register-div{
    text-align: right;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}

#home-logout-register-div .logout-register-btn{
    width:100px;
    height: 35px;
    border-radius: 40px;
    background-color: rgb(43, 129, 66);
    cursor: pointer;
    margin-right: 10px;
    color: white;
    border: 2px solid rgb(16, 79, 51);
}

#home-logout-register-div .logout-register-btn:hover{
    background-color:rgb(12, 64, 42);
}

#home-logout-register-div #homeButton{
    width:40px;
    height:40px;
    border-radius: 40px;
    margin-right: 10px;
    background-color: rgb(43, 129, 66);
    cursor: pointer;
    margin-right: 10px;
    color: white;
    border: 2px solid rgb(16, 79, 51);
}

#home-logout-register-div #homeButton:hover{
    background-color:rgb(12, 64, 42);
}

.countryDiv {
    position: relative;
    background:rgba(40, 176, 40, 0.661);
    margin-bottom: 20px; 
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.countryDiv .countryButton {
    cursor: pointer;
    width:150px;
    height:40px;
    border-radius: 40px;
    background-color: rgb(171, 215, 166);
    cursor: pointer;
    color: rgb(12, 64, 42);
    border: 2px solid rgb(12, 78, 48);
    margin-bottom: 20px;
}

.countryDiv .countryButton:hover {
    background-color: rgb(163, 239, 155);
}